.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navbar a{
  /* margin-left: 20px; */
  border: none;
  /* padding: 5px 10px; */
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.navItems {
  display: flex;
}

.navItems div {
  margin-right: 10px;
  line-height: 28px;
}

.navItems a {
  margin-right: 10px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: #fff;
  color: #0071c2;
}